Database__Host=localhost
Database__Port=5432
Database__Database=trainly
Database__Username=postgres
Database__Password=MiPassword
Jwt__Key=abc123
Jwt__Issuer=TrainlyApi
Jwt__Audience=TrainlyClient
Jwt__ExpiresInMinutes=60
AdminBootstrap__Email=correo@ejemplo.com
